<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Products - Dental Next</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Dental Next</strong></a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="products.html">Products</a>
						<a href="team.html">Team</a>
						<a href="blog.html">Blog</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Aerosol Containment</h2>
						<p>Protect yourself, the patient, and your staff by reducing airborne particles with continuous suction</p>
					</header>
					<p>To protect the health care personnel from aerosols produced by Covid-19 patients, we aim to develop an indigenous micro-airflow management device.Aerosol generating procedures, pose a serious threat to all  medical staff.10-20 % of healthcare staff is infected in various countries. .Virus in aerosolized form stay for 72 hours as per NIAID, USA .WHO requires 12 air changes /hour in negative pressure rooms however such rooms are short.Our solution is a micro-airflow management device, which provides an additional degree of protection to clinicians by using negative pressure that captures aerosols released by patients.
					</p>
					<p>While we were working on aerosol containment we soon realized that one of the most affected field of medicine is dentistry, more than 90% of dental procedures involve aerosols generating procedures due to rotary instruments which have pressurized water spray. 
						These bio aerosols might  have pathogenic bacteria, viruses, blood, saliva, which disperse in the dental clinic and are responsible for respiratory diseases. With the advent of the pandemic,  dentists have been forced to stop performing  AGP’S or stop practice altogether effecting over 1.25lakhs dental clinics over the country. 
					</p>

					<p>The existing solutions, primarily cater to maintain a dry field in the mouth but are not effective in bio aerosol containment
						The Rubber Dam whose primary objective is to provide isolation is married with a High volume suction also known as HVE present in the dental chair this combination is currently considered as gold standard. 
						However it is so cumbersome and time consuming to use that almost all dentist do not prefer to use it despite being part of SOP since decades. 
						Not only that it is also uncomfortable for the patient to wear for long and do not have provision to suction out fluid from behind the rubber dam. 
						
						
						Next product is a Extra oral suction system which as name suggest suctions the aerosols above the patient’s mouth, however these new systems price starts from 50k to as high as 90K based on make and country of origin Despite this Most of the dentist  doubt their efficacy. 
						
						And the last we have Isolite and similar products, these provide isolation, dry field, check and tongue retraction and aerosol containment almost equal to RD+HVE however these are not available in India and costs about 1.5 lacs which is too much for Indian Docs. 
						</p>
						<p>To understand the problem and the user we did two rounds of customer interactions. 
							Based on these interactions we could clearly map out customers problems, goals, fear, preferences and influencers. 
							One of the most important insight was the spending capacity of the customer for the problem and also
							Difference in preferences in the older and younger doctors
						</p>
						<p>Understanding customer is not sufficient but we also need to deeply understand the task customer is trying to get done and how. 
							With CJM we have pin pointed identified how the customer is trying to acheive that and what are the influential factors at each stage of buying process of the customer and also the the channels through which we would have to market, promote and sell our product in future. 
							</p>
						<p>Based on this information we have frozen the need statement as An Efficient and cost effective way to protect dentist from bioaerosols during procedures with need specs as reduce the spread of Bio Aerosols from Rotary instruments and patient’s throad and cost limited to 100 per procedure and upfront cost limited to 10000rs. 
						</p>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>